{% extends 'base.html.twig' %}
{% block body %}

{% include 'navbar.html.twig' %}
<div style="text-align: center; margin: 0 auto;">
<section class="" >
 {% for messasge in app.flashes('message') %}
 <div class="alert alert-info">
  {{ message }}
 </div>
 {% endfor %}
    {{ form_start(form,{attr:{novalidate:'novalidate'}, style:'width: 50%;'}) }}
    <div style="text-align:center;">
        {{ form_label(form.mail, 'Enter Your Mail', {'label_attr': {'style': 'display:inline-block; width: 100px;' }}) }}
        {{ form_widget(form.mail, {'attr': {'style': 'display:inline-block; width: 200px;' }}) }}
    </div>
    <button class="btn">{{ button_label|default('Send') }}</button>
    {{ form_end(form) }}
    </div>
{% include 'footer.html.twig' %}
{% endblock %}


