{%extends 'base1.html.twig' %}
{% block body %}
<div class="card-body pb-0">
                  <h5 class="card-title">Top Selling <span>| Today</span></h5>

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Quantite</th>
                        <th scope="col">libelle</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                    {% for categorie in categories %}
                      <tr>
                       <td> {{categorie.id}}</td>
                        <td> {{categorie.Quantite}}</td>
                       <td>{{categorie.libelle}}</td>
                       <td><a href="{{path('app_delete',{id:categorie.id})}} " class="card-link">Delete</a> </td>
                <td><a href="{{path('app_categorieadd',{id:categorie.id})}} " class="card-link">Edit</a></td>

                        {% endfor %}
                       
                      </tr>
                     
                    </tbody>
                  </table>
<td><a href="{{path('app_categorieadd')}} " class="card-link">Add</a></td>
                </div>

             
 
{% endblock %}
{% block title %}
{% endblock %}